#sidebar_aboutus {
	margin-top:20px;
	width:180px;
	background:#FFF;
	float:left;
}

#sidebar_aboutus h1{
   font-size:15px;
   height:25px;
   width:110px;
   text-align:center;
   margin-top:20px;
   border-bottom:1px solid #CCC;
   margin-left:10px;
   font-weight:normal;
}


#aboutcontent{
  width:738px;
	background:#fff;
	float:right;
	text-align:left;
  padding-right:20px;
  padding-top:10px;
 
}
